html
    head
        title
    body
        div #{array[1].title}

        ul
        each x  in array
            li= x.id
            li= x.title
            li= x.price
            li= x.thumbnail